SQLAlchemy==1.0.10
Scrapy==1.0.3
Twisted==15.5.0
cffi==1.4.1
cryptography==1.1.2
cssselect==0.9.1
enum34==1.1.1
idna==2.0
ipaddress==1.0.15
lxml==3.5.0
nltk==3.1
numpy==1.10.2
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyasn1==0.1.9
pycparser==2.14
python-dateutil==2.4.2
queuelib==1.4.2
scikit-learn==0.17
scipy==0.16.1
service-identity==14.0.0
six==1.10.0
twitter==1.17.1
w3lib==1.13.0
wsgiref==0.1.2
zope.interface==4.1.3
